[pull]
    rebase = false
[init]
    defaultbranch = main
[alias]
    gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
[commit]
    gpgsign = true
[includeIf "gitdir:~/PureFunctor/**/"]
    path = "~/PureFunctor/.gitconfig"
[includeIf "gitdir:~/Vitriol/**/"]
    path = "~/Vitriol/.gitconfig"
[includeIf "gitdir:~/Personal/**/"]
    path = "~/Personal/.gitconfig"
